@model IEnumerable<ASPCollegeBooking.Models.Rooms>
@{
    ViewData["Title"] = "Index";
}
<h2>Edit Room Details</h2>
<p>
    <a asp-action="Create">Create a New Room</a>
</p>
<table class="table col-Margins">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventColor)
            </th>
            <th>Can you book the room?</th>
            <th> @Html.DisplayNameFor(model => model.MaxOccupancy)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsBookable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxOccupancy)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |

                </td>
            </tr>
        }
    </tbody>
</table>
